.mainCadastro{
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
}
.cad1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #0085ff;
    gap: 1rem;
}

.cad1 p{
    font-size: 6rem;
    font-weight: bold;
}
.cad2{
    width: 30%;
    background-color: #000;
    margin: 0 auto;
    height: 70%;
    border-radius: 1.5rem;
    box-shadow: 0 0 25px 4px rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cad2 i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
}
.cad2 a{
    margin-left: auto;
    color: #fff;
}
.cad2 p{
    margin-top: auto;
}
.cad2 i:hover{
    color: #0085ff;
}
.cadastro{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.cadastro h2{
    margin-bottom: 1.5rem;
}
.cadastro p{
    margin: 0;
    margin-bottom: 0.4rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconinput{
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    width: 100%;
    
}
.iconinput label{
    margin-bottom: 0.3rem;
}
.iconinput input{
    background-color: transparent;
    border: 1px solid #0085ff;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    color: #fff;
    height: inherit;
}
.iconinput input:focus-visible{
    outline: none;
}
.iconinput i{
cursor: default;
font-size: 1.5rem;
}
.iconinput i:hover{
    color: #fff;
}
.iconinput input::placeholder{
    color: #fff;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.cadastro button{
    background-color: #0085ff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    transition: 0.3s;
    margin-top: 1.5rem ;
}
.cadastro button:hover{
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.8);
}
.cadastro a{
    color: #cacaca;
    font-size:1rem;
    margin-top: 1rem;
    transition: 0.3s;
}
.cadastro a:hover{
    color: #0085ff;
}
@media screen and (max-width:1325px){
    .cad1 p{
        font-size: 4rem;
    }
    .cad1 img{
        width: 8rem;
    }
    .cad2{
        width: 40%;
    }
}
@media screen and (max-width:995px){
    .mainCadastro{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cad1{
        display: none;
    }
    .cad2{
        width: 60%;
        height: 90%;
    }
}
@media screen and (max-width:685px){
    .cad2 i{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:675px){
    .cad2{
        width: 70%;
    }
}
@media screen and (max-width:575px){
    .cad2{
        width: 80%;
        height: 70%;
    }
    .cadastro{
        width: 85%;
    }
    .cadastro button{
        font-size: 1.2rem;
    }
    .cad2 p{
        font-size: 0.8rem;
    }
    .iconinput i{
        font-size: 1.2rem;
    }
    .iconinput input{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:420px){
    .cadastro a{
        font-size: 0.8rem;
    }
    .cadastro button{
        font-size: 1rem;
    }
}
@media screen and (max-width:350px){
    .cadastro a{
        font-size: 0.6rem;
    }
    .cad2 p{
        font-size: 0.7rem;
    }
}